.horizontal-form {
    font-family:Arial, Helvetica, sans-serif;
}


#vertikal-form {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 250px;
    margin-right: 50px;
    margin-bottom: 300px;
    margin-left: 600px;
    background-color: #09104B;
    padding: 20px;
    color: #ffff
}
